   <!--検索機能-->
 <div class="container mt-5">
   <div class="row">
 　  <%= form_with url: searches_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
  　   <%= f.submit "検索" %>
    <% end %>
  </div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <!--部分テンプレート-->
      <%= render "public/courses/genre_search", genres: @genres %>
    </div>
    <div class="col-8 ml-2">
      <h3 class="mb-4">ゴルフ場一覧</h3>
      <div class="contents" style="display:flex; flex-wrap:wrap;">
        <% @courses.each do |course| %>
          <div class="mr-4 mt-4">
            <%= link_to course_path(course.id) do %>
             <% if course.image.attached? %>
               <%= image_tag course.image, size:"200x120" %>
             <% else %>
               <%= image_tag "e_others_501.jpg", size:"200x120" %>
             <% end %>
             <% end %>
            <p class="text-center w-200px"><strong><%= course.title %></strong></p>
          </div>
        <% end %>
      </div>
      <div class="mx-auto" style="width: 250px;"><%= paginate @courses, theme: 'twitter-bootstrap-4'%></div>
    </div>
  </div>
</div>