<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">新規ゴルフ場投稿</h3>


      <!--form_with記述-->
      <%= form_with model: @course, url: courses_path, method: :post, local: true do |f| %>

        <!--商品画像-->
        <div class="field text-center mt-4">
          <%= f.label :"ゴルフ場画像" %>
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <!--ゴルフ場名-->
        <div class="field text-center mt-4">
          <%= f.label :"ゴルフ場名", class: "mr-3"%>
          <%= f.text_field :title %>
        </div>

        <!--住所-->
        <div class="field text-center mt-4">
          <%= f.label :"住所", class: "mr-3"%>
          <%= f.text_area :address %>
        </div>

        <!--スコア-->
        <div class="field text-center mt-4">
          <%= f.label :"スコア", class: "mr-3" %>
          <%= f.text_field :score %>
        </div>

        <!--ゴルフ場概要-->
        <div class="field text-center mt-4">
          <%= f.label :"ゴルフ場概要", class: "mr-3" %>
          <%= f.text_area :body %>
        </div>

        <!--ジャンル-->
        <div class="field text-center mt-4">
          <%= f.label :"エリア" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name %>
        </div>

        <!--新規登録-->
        <div class="actions text-center mt-4">
          <!--<= f.submit "新規登録", class: 'btn btn-success' >-->
          <%= f.submit "新規登録",class: "btn btn-success px-5 mt-4" %>
        </div>
　　　<% end %>
　　</div>
　</div>
</div>