<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">新規ゴルフ場投稿</h3>


      
      <%= form_with model: @course, url: courses_path, method: :post, local: true do |f| %>

      <table class="table table-borderless table-sm">
       <div class="field">
          <tr>
            <td><%= f.label :"ゴルフ場画像" %></td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"ゴルフ場名", class: "mr-3"%></td>
            <td><%= f.text_field :title %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"住所", class: "mr-3"%></td>
            <td><%= f.text_area :address %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"ゴルフ歴・スコア", class: "mr-3" %></td>
            <td><%= f.text_field :score %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"ゴルフ場概要", class: "mr-3" %></td>
            <td><%= f.text_area :body %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"エリア" %></td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
          </tr>
        </div>

        
        <div class="actions">
          <td></td>
           <td><%= f.submit "新規登録",class: "btn btn-success px-5 mt-4" %></td>
        </div>
      </table>
      <% end %>
    </div>
  </div>
</div>