<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">ゴルフ場詳細</h3>

      <div class="text-center">
        <!--ゴルフ場画像-->
        <% if @course.image.attached? %>
         <%= image_tag @course.image, size: "350x220" %>
        <% else %>
         <%= image_tag "e_others_501.jpeg" %>
        <% end %>
      </div>

      <!--ゴルフ場詳細-->
      <div class="text-center">
        <br>
        <table class="table">
          <tr>
            <th>ゴルフ場名</th>
            <td><%= @course.title %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @course.address %></td>
          </tr>
          <tr>
            <th>ゴルフ場説明</th>
            <td><%= @course.body %></td>
          </tr>
          <tr>
            <th>ゴルフ歴・スコア</th>
            <td><%= @course.score %></td>
          </tr>
          <tr>
            <!--いいね機能非同期-->
            <div id = "favorite_buttons_<%= @course.id %>">
            <%= render "public/favorites/favorite", course: @course%>
          </tr>
        </table>
      </div>

       <div class="text-center">
        <table class="table">
          <% if @course.user == current_user %>
          <!--編集ボタン-->
          <th><%= link_to "編集する", edit_course_path(@course), class: 'btn btn-success' %></th>
          <!--削除ボタン-->
          <th><%= link_to "削除する", course_path(@course), method: :delete, data: {confirm:  "本当に削除しますか？"}, class: "btn btn-danger" %></th>
          <% end %>
        </table>
          <!--コメント非同期-->
         <div id = "comment_count">
          <%= render 'public/comments/comment_count', course: @course %>
         </div>
         <div id = "comment_list" class="mb-2 bg-light border" style="height: 20vh; overflow-y: scroll;">
          <%= render 'public/comments/comment_list', course: @course %>
         </div>
          <%= render 'public/comments/comment_form', course: @course, comment: @comment %>
       </div>
     </div>
   </div>
  </div>
</div>
