<!--ランキング-->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3"><h4>ゴルフ場ランキング<i class="fa-solid fa-crown"></i></h4>
     <% @all_ranks.each.with_index(1) do |course, i| %>
        第<%= i %>位<br>
        <%= link_to course_path(course) do %>
          <% if course.image.attached? %>
            <%= image_tag course.image, size:"200x120" %>
          <% else %>
            <%= image_tag "e_others_501.jpg", size:"200x120"%>
          <% end %>
        <% end %>
       <p class="text-center w-200px"><strong><%= course.title %></strong></p>
     <% end %>
    </div>

    <div class="col-8 ml-2">
      <div class = "top-image ml-4">
        <%= image_tag "glf0026-026.jpg", size:"640×426" %>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-10">
            <table class="table mt-4">
              <thead>
                <tr>
                  <th>ゴルフ場投稿一覧</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="contents" style="display:flex; flex-wrap:wrap;">
          <% @courses.each do |course| %>
            <div class="mr-4 mt-4">
              <%= link_to course_path(course) do %>
               <% if course.image.attached? %>
                 <%= image_tag course.image, size:"200x120" %>
               <% else %>
                 <%= image_tag "e_others_501.jpg", size:"200x120"%>
               <% end %>
              <% end %>
              <p class="text-center w-200px"><strong><%= course.title %></strong></p>
            </div>
          <% end %>
        </div>
        <p class="text-right"><strong><%= link_to "全てのゴルフ場を見る",courses_path %></strong></p>
      </div>
    </div>
  </div>
</div>