<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">お気に入り一覧<i class="fa-solid fa-star"></i></h3>
      <div class="contents" style="display:flex; flex-wrap:wrap;">
        <% @favorites.each do |favorite| %>
          <div class="mr-4 mt-4">
            <%= link_to course_path(favorite.course_id) do %>
             <% if favorite.course.image.attached? %>
               <%= image_tag favorite.course.image, size:"150x120" %>
             <% else %>
               <%= image_tag "e_others_501.jpg", size:"150x120"%>
             <% end %>
            <% end %>
            <p class="text-center w-150px"><strong><%= favorite.course.title %></strong></p>
          </div>
        <% end %>
      </div>
      <div class="mx-auto" style="width: 200px;"><%= paginate @favorites, theme: 'twitter-bootstrap-4'%></div>
    </div>
  </div>
</div>