<div class='row'>
  <div class='col-md-8 offset-2'>
    <h3 class="my-4 mt-5"><%= @user.name %>さんの会員詳細</h3>
      <table class="table">
        <thead>
          <tr>
            <th>UserID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <% if @user.is_deleted? %>
              <th class = "text-success">
               退会済
              </th>
            <% else %>
              <th class = "text-danger">
               会員
              </th>
            <% end %>
            <table class="table">
              <th><%= link_to '編集する', edit_admin_user_path(@user), class: "btn btn-sm btn-success" %></th>
              <% if current_user %>
               <th><%= link_to "退会する", withdrawal_path, method: :patch, data: {confirm: 'アカウントを削除してもよろしいですか？'}, class: 'btn btn-sm btn-danger' %></th>
              <% else %>
               <th><%= link_to "退会する", admin_user_path(@user), method: :delete, data: {confirm: 'アカウントを削除してもよろしいですか？'}, class: 'btn btn-sm btn-danger' %></th>
              <% end %>
            </table>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h4><i class="far fa-comment-alt"></i><b><%=@user.name%></b> さんのコメント</h4>
      <ul class="list-group">
        <% @comments.each do |comment| %>
          <li class="list-group-item"%>
            <%= comment.comment %>
            <%= link_to '削除', admin_user_comment_path(comment.user, comment), method: :delete, data: {confirm: "本当に削除しますか？"},class: 'btn btn-sm btn-danger' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
