<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">ゴルフ場詳細</h3>

      <div class="text-center">
        <!--ゴルフ場画像-->
        <% if @course.image.attached? %>
         <%= image_tag @course.image, size:"350x220" %>
        <% else %>
         <%= image_tag "e_others_501.jpg", size:"350x220"%>
        <% end %>
    　</div>

      <!--ゴルフ場詳細-->
      <div class="text-center">
        <br>
        <table class="table">
          <tr>
            <th>ゴルフ場名</th>
            <td><%= @course.title %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @course.address %></td>
          </tr>
          <tr>
            <th>ゴルフ場説明</th>
            <td><%= @course.body %></td>
          </tr>
          <tr>
            <th>ゴルフ歴・スコア</th>
            <td><%= @course.score %></td>
          </tr>

       <div class="text-center">
        <table class="table">
          <!--削除ボタン-->
          <th><%= link_to "削除する", admin_course_path(@course), method: :delete, data: {confirm:  "本当に削除しますか？"}, class: "btn btn-danger" %></th>
        </table>
      </div>
    </div>
  </div>
</div>