<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">マイページ</h3>
      <table class="table table-hover">
        <thead>
          <th>登録情報</th>
            <th><%= link_to '編集する', edit_user_path, class: "btn btn-sm btn-success" %></th>
            <th><%= link_to "退会する" , withdrawal_path, method: :patch, data: {confirm: 'アカウントを削除してもよろしいですか？'}, class: 'btn btn-sm btn-danger' %></th>
        </thead>
      </table>
      <table class='table table-hover'>
        <tr>
          <th>名前</th>
          <th><%= @user.name  %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @user.email %></th>
        </tr>
      </table>
       <div class="col-8 ml-2">
        <table class = "table">
        <% @courses.each do |course| %>
        <div class="mr-4 mt-4">
          <%= link_to course_path(course) do %>
            <% if course.image.attached? %>
              <%= image_tag course.image, size:"150x120" %>
              <%= course.title %>
            <% else %>
              <%= image_tag "e_others_501.jpg", size:"150x120" %>
              <%= course.title %>
           <% end %>
        <% end %>
        </div>
       <% end %>
      </table>
      <div class="mx-auto" style="width: 100px;"><%= paginate @courses, theme: 'twitter-bootstrap-4' %></div>
    </div>
  </div>
</div>