<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">MY PAGE</h3>

　　　<table class="table table-hover">
        <thead>
          <th>登録情報</th>
          <th><%= link_to '編集する', edit_user_path, class: "btn btn-sm btn-success" %></th>
        </thead>
      </table>
      <table class='table table-hover'>
        <tr>
      	  <th>名前</th>
      	  <th><%=  @user.name  %></th>
        </tr>
        <tr>
      	  <th>メールアドレス</th>
      	  <th><%= @user.email %></th>
        </tr>
      </table>
       <table class="table table-hover">
        <% @user.courses.each do |course| %>
        <div class="mr-4 mt-4">
          <%= link_to course_path(course) do %>
            <% if course.image.attached? %>
            <%= image_tag course.image, size:"150x120" %>
           <% end %>
           <% end %>
          <p class="text-center"><strong><%= course.title %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>